html,body {
     font-family: sans-serif;
     font-weight: 300;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/* Header */

.header {
    background-image: url(../images/background.jpg);
    background-position: center top;
    height: 670px;   
}

.navbar {
    padding-top: 40px;
}

.navbar_logo {
    width: 172px;
    height: 44px;
}

.navbar_list {
    font-size: 1em;
    margin-left: 200px;
    margin-top: -35px;
}

.navbar_list li  {
    color: white;
    display: inline;
    margin-left: 40px;
}

.navbar_list li:hover {
    padding: .5em 2em;
    background-color: #facf33;
    border-radius: 5px;
}

.navbar_auth {
    margin-top: -25px;
    float: right;
    background-color: #facf33;
    color: #313131;
    font-weight: 600;
    font-size: .9em;
    border-radius: 5px;
    border-color: #facf33;
    padding: .2em 1em;
}


/* header_main */

.header_main {
    padding-top: 150px;
    margin-left: 130px;
    color: white;
}

.header_main h1 {
    font-size: 4em;
    font-weight: 100 im;
}

.header_main_regist {
    margin-top: 60px;
    color: #313131;
    font-size: 1.125em;
    font-weight: bold;
    background-color: #facf28;
    border-radius: .25em;
    border-color: #facf28;
    text-align: center;
    width: 284px;
    height: 2.8125em;
    padding: .625em 1.8125em;
}


/* information_video */
.info_video {
    height: 550px;
    background-color: #f6f6f6;
}

.info_video iframe {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

/* knowledge */

.knowledge {
    height: 732px;
    color: #313131;
}

.knowledge_title_one {
    font-size: 1.7em;
    font-weight: 600;
    padding-top: 50px;
}

.knowledge_text_one {
    font-size: 1.125em;
    margin-top: 10px;
}

.knowledge_image_one {
    float: right;
    margin-top: -120px;
}

/* knowledge section two */

.knowledge_section_two {
    padding-top: 140px;
}

.knowledge_image_two {
    float: left
}

.knowledge_title_two {
    float: right;
    font-size: 1.7em;
    font-weight: 600;
}

.knowledge_text_two {
    font-size: 1.125em;
    margin-top: 35px;
    float: right;
}

/* Section three */

.knowledge_section_three {
    padding-top: 250px;
}

.knowledge_title_three {
    text-align: center;
    font-weight: 600;
    font-size: 2.25em;
}

.knowledge_section_three h2 {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5em;
    color: #575757;
}

.knowledge_section_three p {
    text-align: center;
    color: #575757;
    font-size: 1.125em;
    margin-top: 1em;
}

/* Course section */

.course {
    height: 400px;
    background-color: #f6f6f6;
}

.course h1 {
    padding-top: 60px;
    font-size: 2.25em;
    font-weight: bold;
    color: #313131;
}

.course_list {
    margin-top: 40px;
}

.course_list li {
    margin-left: 12px;
    display: inline-block;
    width: 255px;
    height: 206px;
    background-color: red;
}


/* section statistic */

.statistic {
    height: 380px;
}

.statistic h1 {
    padding-top: 80px;
    text-align: center;
    font-weight: 600;
    font-size: 2.25em;
}

.statistic_list img {
    width: 45%;
    height: 4rem;
}

.statistic_list {
    margin-top: 50px;
    margin-left: 90px;
}

.statistic_list li {
    display: inline-block;
    margin-left: 44px;
}

.statistic_list p {
    color: #f3a233;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 20px;
}


/* News section */

.news {
    height: 600px;
    background-color: #f6f6f6;
}

.news h1 {
    padding-top: 60px;
    font-size: 2.25em;
    font-weight: bold;
    color: #313131;    
}

.news_list {
    margin-top: 80px;
}

.news_list li {
    margin-left: 12px;
    display: inline-block;
    width: 255px;
    height: 206px;
    background-color: red;
}

/*  */

.partners {
    height: 470px;
}

.partners h1 {
    font-size: 2.25em;
    color: #313131;
    text-align: center;
    margin-top: 50px;
}

.partners img {
    width: 110px;
    height: 40x;
}

.partners_list_one {
    margin-top: 100px;
}

.partners_list_one li {
    vertical-align: middle;
    display: inline-block;
    margin-left: 25px;
}

.partners_list_two {
    margin-top: 50px;
}

.partners_list_two li {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}